<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8" />
    <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content = "ie=edge" />
  <title>
    GitHub Automated Analysis
  </title>
  <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
  <div class="navbar">
      <h2> </h2>
  </div>
  <hr>

  <div class="container">
  <h2>GitHub Automated Analysis</h2>
 
    <div class="card" style="width:1400px">
     
     <h4 class="card-text">Most Challenging Repository URL:</h4>
     <hr>
	
    {{text}}

    <br>
    <hr>
    {{justification}}
    <br>
    <hr>

    <div class="card-body ">
        <form action="/url" method="POST">
            <p class="card-text">Enter another username to retrieve most challenging repository:</p><br>
            <input type="text" id="url" name="url" required>
            <br>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
    
  </div>
  <br>
</div>

</body>

</html>